.info-item {
    display: flex;
    align-items: center;
    column-gap: 2.4rem;

    @media (max-width: 48em) {
        column-gap: 2.2rem;
    }

    // .info-item__icon

    &__icon {
        flex: 0 0 10.7rem;
        width: 10.7rem;
        height: 10.7rem;

        svg {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    // .info-item__content

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }

    // .info-item__subtitle

    &__subtitle {
        @media (min-width: 48em) {
            font-size: 3.2rem;
            span {
                display: block;
            }
        }
    }

    // .info-item__text

    &__text {
        color: $gray;
    }
}
