input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
textarea:focus,
input:focus {
    outline: none;
}

.input__hint,
.field-hint {
    position: absolute;
    top: calc(100% + 0.8rem);
    left: 0;
    color: $red;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

    ._has-error & {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 48em) {
        font-size: 2.5rem;
    }
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;

    // .input__field

    &__field {
        padding-bottom: 2rem;
        padding-right: 2rem;
        display: block;
        width: 100%;
        line-height: 1;
        border-bottom: 0.1rem solid $gray;
        transition: border-bottom 0.3s ease;

        &::placeholder {
            text-transform: uppercase;
            color: $gray;
            transition: color 0.3s ease;
        }

        @media (max-width: 48em) {
            padding-bottom: 3.2rem;
            padding-right: 3.2rem;
        }
    }

    &__textarea {
        resize: none;
        padding-right: 2rem;
        display: block;
        width: 100%;
        line-height: 1;
        border-bottom: 0.1rem solid $gray;
        transition: border-bottom 0.3s ease;

        &::placeholder {
            text-transform: uppercase;
            color: $gray;
            transition: color 0.3s ease;
        }
    }

    // .input__hint

    &__hint {
    }

    &._has-focus {
        .input__field {
            border-bottom: 1px solid $white;
        }
    }
    &._has-error {
        .input__field {
            border-bottom: 1px solid $red;
        }
        .input__textarea {
            border-bottom: 1px solid $red;
        }
    }
}

.textarea {
    &._has-focus {
        .input__textarea {
            border-bottom: 0.1rem solid $white;
        }
    }
    &._has-error {
        .input__textarea {
            border-bottom: 1px solid $red;
        }
    }
}
