.sl-pagination {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .swiper-pagination-bullet {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        width: 4.4rem;
        height: 0.2rem;
        background-color: $white;
        //cursor: pointer;
        transition: transform 0.3s ease, background-color 0.3s ease;
        &::after {
            content: attr(data-index);
            transform: translateX(calc(100% + 1rem)) scale(0);
            transition: transform 0.3s ease;
        }

        &.swiper-pagination-bullet-active {
            background-color: $orange;
            transform: scaleX(1.55);
            transform-origin: left;

            &::after {
                transform: translateX(calc(100% + 1rem)) scale(1);
            }
        }
    }

    &_mm {
        @media (max-width: 48em) {
            flex-direction: row;

            .swiper-pagination-bullet {
                flex: 0 0 1.6rem;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                background-color: rgba(56, 58, 61, 1);

                &.swiper-pagination-bullet-active {
                    transform: none;
                }

                &::after {
                    content: none;
                }
            }
        }
    }
}
