.h {
  font-family: 'Druk Wide Cyr';
  font-weight: 500;
  text-transform: uppercase;

  &_1 {
    font-size: 6rem;
    line-height: 120%;
    letter-spacing: 3%;

    @media (max-width: 48em) {
      font-size: 4.4rem;
    }
  }

  &_2 {
    font-size: 5.2rem;
    line-height: 130%;
    letter-spacing: 2%;

    @media (max-width: 48em) {
      font-size: 4rem;
    }
  }

  &_3 {
    font-size: 3.6rem;
    line-height: 130%;
    letter-spacing: 2%;

    @media (max-width: 48em) {
      font-size: 3.6rem;
    }
  }
}

.subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;

  @media (max-width: 48em) {
    font-size: 3.6rem;
  }
}

.txt {
  line-height: 140%;

  &_14 {
    font-size: 1.4rem;

    @media (max-width: 48em) {
      font-size: 2.8rem;
    }
  }
}
