.author {
    // .author__inner
    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 4rem 0 5.3rem;
    }
    // .author__left
    &__left {
        position: relative;
    }
    // .author__portrait
    &__portrait {
        width: 64.4rem;
        height: 84.5rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    // .author__bg
    &__bg {
        position: absolute;
        width: 75rem;
        opacity: 10%;
        z-index: -1;
        top: -6rem;
        left: 5.5rem;
    }
    // .author__right
    &__right {
        padding-top: 2rem;
        max-width: 81rem;

        display: flex;
        flex-direction: column;
    }
    // .author__header
    &__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin-bottom: 6rem;
    }
    // .author__subtitle
    &__subtitle {
        font-size: 2rem;
        line-height: 110%;
        text-transform: uppercase;
        color: $gray;
    }
    // .author__info
    &__info {
        display: flex;
        align-items: flex-start;
        gap: 4rem;

        margin-bottom: 13.3rem;

        li {
            max-width: 38rem;
        }

        p {
            font-size: 1.8rem;
            line-height: 140%;
            color: $gray;

            span {
                color: $white;
            }
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
    // .author__tag
    &__tag {
        width: 46rem;
        align-self: flex-end;
    }
}
