.condition {
    .condition-info-swiper.swiper {
        overflow: visible;
    }

    @include small-tablet {
        overflow: hidden;
    }

    &__pagination {
        @include small-tablet {
            justify-content: center;
        }
    }

    &__slider {
        @include small-tablet {
            overflow: visible !important;
        }
    }

    &__head {
        margin-bottom: 6rem;
    }

    // .condition__inner
    &__inner {
        display: flex;
        flex-direction: column;
    }
    // .condition__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        @include small-tablet {
            margin-top: 1rem;
        }

        &-top {
            position: relative;

            &::after,
            &::before {
                content: '';
                width: 50%;
                height: 0.2rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -2;
            }

            &::after {
                left: 0;
                background: linear-gradient(90deg, rgba(151, 151, 151, 0) 0%, #ff6c01 100%);
            }

            &::before {
                right: 0;
                background: linear-gradient(90deg, #ff6c01 0%, rgba(151, 151, 151, 0) 100%);
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 13.6rem;
        }
    }
    // .condition__icon
    &__icon {
        position: relative;
        &-bg {
            width: 99%;
            height: 99%;
            border-radius: 50%;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: $bgColor;
        }
    }
    // .condition__info-block
    &__info {
        &-block {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 37.9rem);
            justify-content: space-between;
            margin-bottom: 5rem;
            padding-top: 5rem;

            @include small-tablet {
                margin-bottom: 5rem;
            }

            .swiper-slide {
                width: auto;
            }
        }
        &-item {
            position: relative;
            max-width: 37.9rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            @include small-tablet {
                flex-direction: row;
                gap: 2.4rem;
                max-width: 100%;
            }

            &-text-content {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @include small-tablet {
                    max-width: 55.8rem;
                    gap: 1.6rem;
                }
            }

            &-icon {
                @include small-tablet {
                    @include sizes(12.8rem, 12.8rem);
                }
            }
        }
        &-title {
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 140%;
            color: $white;

            @include small-tablet {
                font-size: 3.6rem;
                max-width: 80%;
            }
        }
        &-text {
            font-size: 1.8rem;
            line-height: 140%;
            color: $gray;

            @include small-tablet {
                font-size: 3rem;
            }
        }
        &-bg {
            position: absolute;
            height: 12.3rem;
            right: 0;
            top: -6rem;
            z-index: -1;

            @include small-tablet {
                right: 1rem;
                top: -6rem;
                height: 16.8rem;
                width: 12.2rem;

                img {
                    height: 100%;
                }
            }
        }
        &-read {
            margin-bottom: 5rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

            border: 0.1rem solid #24272a;
            padding: 3.7rem 10rem;

            @include small-tablet {
                flex-direction: column;
                padding: 4.8rem;
                gap: 4.8rem;
                text-align: center;
                margin-top: 8rem;

                .btn {
                    width: 100%;
                }
            }

            p {
                font-weight: 500;
                font-size: 3.2rem;
                line-height: 140%;
                color: $white;

                @include small-tablet {
                    font-weight: 500;
                    font-size: 3.6rem;
                    line-height: 140%;
                }
            }
        }
    }
    // .condition__footer
    &__footer {
        padding: 4rem 0;
        position: relative;

        @include small-tablet {
            padding: 8.6rem 0;
        }

        &-pagination {
            @include small-tablet {
                justify-content: center;
                margin-top: 6rem;
                position: relative;
                z-index: 1;
            }
        }

        .swiper-slide {
            @media (any-hover: hover) {
                &:hover {
                    .condition__slider-image {
                        transform: scale(1.1);
                    }

                    .condition__slider-heading {
                        color: $orange;
                    }
                }
            }

            .condition__slider-heading {
                white-space: nowrap;
                transition: color 0.3s ease;

                @include small-tablet {
                    font-weight: 700;
                    font-size: 3rem;
                }
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -14rem;
            width: calc(100% + 28rem);
            height: 100%;
        }

        &::after {
            background: url('../../assets/images/sections/condition/light-gray-concrete-wall.png') center /
                cover no-repeat;
            z-index: 0;
            mix-blend-mode: color-burn;
        }

        &::before {
            background-color: #24272a;
        }

        .container {
            position: relative;
        }
    }
    // .condition__slider
    &__slider-image {
        transition: 0.3s transform ease;

        @include small-tablet {
            width: 100%;
            height: 15rem;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__slider.swiper {
        width: 135.2rem;
        margin: 0 auto;
        position: static;

        @include small-tablet {
            width: 100%;
        }
    }
    // .condition__slider-wrapper
    &__slider-wrapper.swiper-wrapper {
        z-index: 3;
    }
    // .condition__slider-slide
    &__slider-slide.swiper-slide {
        width: 13rem;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2.3rem;

        @include small-tablet {
            gap: 4rem;
        }

        p {
            // font-family: 'Gilroy';
            font-weight: 700;
            font-size: 1.5rem;
            color: $white;
        }
    }
    // .condition__slider-navigation
    &__slider-navigation {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
}
