.hero {
    position: relative;
    margin-bottom: 22rem;
    min-height: 110.6rem;
    overflow: hidden;

    @media (max-width: 48em) {
        margin-bottom: 33rem;
        min-height: 132rem;
    }

    // .hero__mountains

    &__mountains {
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: -16rem;
        width: 110%;
        height: 92%;


        img {
            height: 100%;
            object-fit: cover;
            transform: translate3d(0, calc(var(--scrollY) / 4), 0);
            will-change: contents;
        }


        @media (max-width: 48em) {
            bottom: 0;
            left: -33rem;
            width: 176%;
            height: 69%;
        }
    }


    // .hero__bg

    &__bg {
        position: absolute;
        top: 0;
        left: -2rem;
        width: 102%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        background-image: url(./assets/images/bg/hero-bg.webp);
        transform: translate3d(0, calc(var(--scrollY) / 2), 0);
        background-position: 0 -29rem;
        background-size: cover;
        background-repeat: no-repeat;
        will-change: contents;
        filter: blur(0.5rem);

        @media (max-width: 48em) {
            width: 104%;
            background-position: -45rem -21rem;
        }
    }

    // .hero__content

    &__content {
        position: relative;
        bottom: 0;
        will-change: contents;

        @media (min-width: 48em) {
            opacity: 0;
            visibility: hidden;
        }

        // .hero__content_front

        &_front {
            z-index: 7;

            @media (min-width: 48em) {
                .hero__container {
                    grid-template: 51rem / 3fr 6fr 3fr;
                    align-items: flex-end;
                }
            }
        }

        // .hero__content_back

        &_back {
            z-index: 2;
            padding-top: 18.4rem;
            text-align: center;

            .hero__container {
                justify-items: center;
            }

            @media (max-width: 48em) {
                margin-bottom: 21rem;
                padding-top: 27rem;
            }
        }
    }

    // .hero__container

    &__container {
        display: grid;
    }

    // .hero__subtitle

    &__subtitle {
        max-width: 43rem;
        font-size: 3.2rem;
        transform: translate3d(0, calc(var(--scrollY) * 0.5), 0);
        will-change: contents;


        @media (max-width: 48em) {
            max-width: 56rem;
            font-size: 3.6rem;
        }
    }

    // .hero__heading

    &__heading {
        margin-bottom: 4rem;
        max-width: 105rem;
        transform: translate3d(0, calc(var(--scrollY) * 0.5), 0);
        will-change: contents;


        span {
            display: block;
        }

        @media (max-width: 48em) {
            margin-bottom: 4.2rem;
            max-width: none;
            font-size: 4.4rem;

            span {
                display: inline-block;
            }
        }
    }

    // .hero__heading-txt

    &__heading-txt {
        margin-bottom: 3.2rem;
        line-height: 110%;
        transform: translate3d(0, calc(var(--scrollY) * 0.5), 0);
        will-change: contents;


        @media (max-width: 48em) {
            margin-bottom: 3.4rem;
            font-size: 3rem;
            line-height: 3.3rem;
        }
    }

    // .hero__list

    &__list {
        display: flex;
        column-gap: 1.8rem;

        @media (max-width: 48em) {
            display: none;
        }
    }

    // .hero__icon-wrap

    &__icon-wrap {
    }

    // .hero__icon

    &__icon {
    }

    // .hero__car

    &__car {
        position: absolute;
        z-index: 6;
        bottom: 0;
        left: 50%;
        width: 109%;
        transform: translateX(-50%);


        @media (min-width: 48em) {
            width: 102rem;
            transform: translate(0rem, 9.5rem);
        }
    }

    // .hero__car-image

    &__car-image {
        object-fit: contain;
        transform: translate3d(0, calc(var(--scrollY) / 5), 0);
        will-change: contents;
    }

    // .hero__anchor

    &__anchor {
        justify-self: end;
        grid-column: 3/4;

        @media (max-width: 48em) {
            display: none;
        }
    }

}
