.rental {
    margin-bottom: 20rem;

    @include small-tablet {
        min-height: 150rem;
        margin-bottom: 24rem;
    }

    &__title {
        margin-bottom: 9rem;

        @include small-tablet {
            margin-bottom: 7rem;
        }
    }

    &__tabs {
        display: flex;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
            gap: 9rem;
        }

        &-navigation {
            display: flex;
            flex-direction: column;
            gap: 3.6rem;
            max-width: max-content;
            width: 100%;

            @include small-tablet {
                flex-direction: row;
                gap: 0;
                max-width: 100%;
                overflow-x: scroll;
                padding-bottom: 3rem;
                position: relative;

                @include hideScrollbar;

                &::after {
                    @include pseudo {
                        bottom: 0;
                        height: 0.4rem;
                        background: $gray;
                        left: 0;
                        z-index: -1;
                        width: calc(100% + 112rem);
                    }
                }
            }
        }

        &-button {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 140%;
            color: $gray-secondary;
            transition: 0.5s all ease;
            position: relative;

            @include small-tablet {
                padding: 0 4.8rem;
                font-size: 3.2rem;
                line-height: 110%;
                text-transform: uppercase;
                white-space: nowrap;

                &:last-child {
                    padding-right: 0;
                }
            }

            &::after {
                @include pseudo {
                    @media (min-width: 48em) {
                        left: -8.3rem;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 0.2rem;
                        background: $red;
                        max-width: 0;
                        width: 100%;
                        transition: 0.3s max-width ease;
                    }

                    @include small-tablet {
                        height: 0.4rem;
                        bottom: -3.1rem;
                        width: 100%;
                        opacity: 0;
                        transition: 0.3s opacity ease;
                        background: $orange;
                        left: 0;
                    }
                }
            }

            &._is-active {
                @media (min-width: 48em) {
                    font-weight: 500;
                    font-size: 3.2rem;
                    color: #fff;
                    margin-left: 8.1rem;

                    &::after {
                        max-width: 6.6rem;
                    }
                }

                @include small-tablet {
                    color: $orange;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        &-content {
            position: relative;
            width: 100%;
        }

        &-body {
            position: absolute;
            top: -1rem;
            right: 32rem;

            @include small-tablet {
                left: 0;
                right: 0;
                width: 100%;
                top: 0;
            }

            &[data-tabs-item] {
                visibility: visible;
                display: block;
                opacity: 1;
                transition:
                    0.3s visibility ease,
                    0.3s opacity ease;
            }

            &[hidden] {
                visibility: hidden;
                opacity: 0;
            }

            &-wrapper {
                max-width: 66rem;
                width: 100%;

                @include small-tablet {
                    max-width: 100%;
                }
            }

            &-title {
                margin-bottom: 4rem;

                @include small-tablet {
                    margin-bottom: 6.4rem;
                }
            }

            &-description {
                margin-bottom: 4rem;
                font-size: 2rem;
                line-height: 130%;
                text-transform: uppercase;
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                width: 100%;

                @include small-tablet {
                    gap: 4rem;
                    margin-bottom: 6rem;
                }
            }

            &-item {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                @include small-tablet {
                    flex-direction: column;
                    gap: 2.4rem;
                }

                &-title {
                    font-weight: 400;
                    font-size: 2rem;
                    line-height: 140%;
                    text-transform: uppercase;
                    color: $gray;
                    display: block;
                    max-width: 17.5rem;
                    width: 100%;

                    @include small-tablet {
                        max-width: 100%;
                        font-size: 3.6rem;
                    }
                }

                &-text {
                    font-size: 2rem;
                    line-height: 140%;
                    color: $gray;
                    max-width: 38rem;
                    width: 100%;

                    @include small-tablet {
                        font-size: 3rem;
                        max-width: 100%;
                    }
                }
            }

            &-image {
                @media (min-width: 48em) {
                    transform: rotate3d(0, 0, 0, 0);
                    transform-origin: center center;
                    transform-style: preserve-3d;
                    position: absolute;
                    right: -44rem;
                    top: -6rem;
                    perspective: 149.4rem;
                    z-index: -1;
                }

                @include small-tablet {
                    position: initial;
                    height: 55.6rem;
                }

                &-wrapper {
                    @media (min-width: 48em) {
                        width: 85rem;
                        height: 45rem;
                        transform: rotate3d(0, 1, 0, 130deg) scaleX(-1) scaleY(0.9);
                        box-shadow:
                            1.1rem -0.5rem 2.6rem 0 rgba(0, 0, 0, 0.1),
                            4.2rem -2rem 4.7rem 0 rgba(0, 0, 0, 0.09),
                            9.5rem -4.4rem 6.3rem 0 rgba(0, 0, 0, 0.05),
                            16.9rem -7.9rem 7.4rem 0 rgba(0, 0, 0, 0.01),
                            26.3rem -12.3rem 8.1rem 0 rgba(0, 0, 0, 0);
                        position: relative;
                        border-radius: 4rem;

                        &::after {
                            @include pseudo {
                                inset: 0;
                                z-index: 3;
                                background: rgba(#000, 0.2);
                                border-radius: inherit;
                            }
                        }

                        @include small-tablet {
                            width: 100%;
                        }
                    }

                    img {
                        object-fit: cover;
                        height: 100%;
                        border-radius: inherit;
                    }
                }
            }
        }
    }

    &__documents {
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include small-tablet {
            margin-top: 134rem;
            gap: 3.2rem;
        }
    }

    &__document {
        a {
            display: flex;
            align-items: center;
            gap: 2rem;

            @include small-tablet {
                gap: 2.4rem;
            }

            .icon {
                @include small-tablet {
                    flex: 0 0 10rem;
                    width: 10rem;
                    height: 10rem;
                }
            }

            span {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 140%;
                transition: 0.3s color ease;

                @include small-tablet {
                    font-weight: 500;
                    font-size: 3rem;
                }
            }

            @media (any-hover: hover) {
                &:hover {
                    span {
                        color: $orange;
                    }

                    .icon {
                        &:not(&._is-disabled, &._no-hover) {
                            &::after {
                                opacity: 1;
                            }
                            svg path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}
