figure {
    margin: 0;
}

.routes {
    min-height: 90rem;
    overflow: hidden;

    @include small-tablet {
        overflow: initial;
        min-height: 185rem;
    }

    @include desk {
        &._is-active {
            .routes__tabs-map {
                transform: scale(1.75) translate(63rem, -33.5rem) rotate(6deg);
            }
        }
        .routes__tabs-map {
            transform: rotate(0deg) scale(0.51) translate(-2.3rem, -40.5rem);

            .detailed-page & {
                transform: scale(1.75) translate(63rem, -33.5rem) rotate(6deg);
            }
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 6rem;
        position: relative;
        z-index: 10;
        letter-spacing: 0.05rem;

        @include small-tablet {
            margin-bottom: 8rem;
            text-align: start;
        }
    }

    &__tabs {
        position: relative;

        &-attractions {
            position: absolute;
            right: -1rem;
            max-width: 39.5rem;
            width: 100%;
            top: 8rem;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            text-align: start;

            &-title {
                font-weight: 500;
                font-size: 3.2rem;
                line-height: 140%;
                margin-bottom: 3.2rem;
                display: block;
            }

            &-swiper {
                .swiper-wrapper {
                    margin-bottom: 4rem;
                }

                &-text {
                    display: none;
                }

                figure {
                    @include sizes(100%, 29rem);
                    user-select: none;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            &-navigation {
                display: flex;
                align-items: center;
                gap: 1.6rem;
            }

            &-text {
                font-size: 1.8rem;
                line-height: 140%;
                color: $gray;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                transition:
                    opacity 1s ease,
                    visibility 1s ease;
                margin-bottom: 5.2rem;
                min-height: 12.5rem;
                text-align: start;

                &._shown {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        &-info {
            position: absolute;
            top: 0;
            max-width: 36rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 100%;

            @include small-tablet {
                max-width: 100%;
            }

            &-text {
                font-size: 2rem;
                line-height: 140%;
                text-transform: uppercase;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 36rem;
                text-align: start;
                z-index: 10;
                margin-top: 12rem;

                @include small-tablet {
                    font-size: 3.2rem;
                    line-height: 140%;
                    position: initial;
                    max-width: 58rem;
                    margin-top: 14rem;
                }
            }

            &-list {
                display: flex;
                flex-direction: column;
                gap: 3.2rem;
                margin-top: 55rem;

                @include small-tablet {
                    margin-top: 84rem;
                    gap: 4.2rem;
                    margin-bottom: 8rem;
                }
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 1.6rem;

                @include small-tablet {
                    gap: 2.4rem;
                }

                &-designation {
                    @include sizes(2.4rem, 2.4rem);
                    background: var(--color);

                    @include small-tablet {
                        @include sizes(3.2rem, 3.2rem);
                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                }

                &-title {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 140%;

                    @include small-tablet {
                        font-size: 3.6rem;
                    }
                }

                &-description {
                    font-weight: 400;
                    font-size: 1.8rem;
                    color: $gray;

                    @include small-tablet {
                        font-size: 3rem;
                    }
                }
            }

            &-button {
                width: 100%;
                padding: 5rem 8rem;

                @include small-tablet {
                    padding: 4.5rem 8rem;
                }
            }
        }

        &-overlay {
            position: absolute;
            opacity: 1;
            right: -15rem;
            top: -30rem;
            width: 99.5rem;
            height: 100rem;
            background: linear-gradient(270deg, #191c20 40%, rgba(25, 28, 32, 0) 100%);
            transition: 1s opacity ease;

            @include small-tablet {
                display: none;
                top: -5rem;
                background: linear-gradient(270deg, #191c20 60%, rgba(25, 28, 32, 0) 100%);
            }
        }

        &-map {
            @media (min-width: 48em) {
                transition: 2s transform ease;

                transform: scale(1.75) translate(62.7rem, -33.5rem) rotate(6deg);
            }
        }

        &-content {
            position: relative;
            min-height: 58rem;

            @include small-tablet {
                min-height: 100rem;
            }

            &-path {
                position: absolute;
                opacity: 0;

                @include small-tablet {
                    opacity: 1;
                    position: relative;
                }
            }
        }

        &-navigation {
            justify-content: center;
            position: relative;
            z-index: 20;
        }

        &-body {
            @media (min-width: 48em) {
                display: block;
                position: absolute;
                inset: 0;
            }

            @media (min-width: 48em) {
                ._is-active & {
                    &[data-tabs-item] {
                        &:not(&[hidden]) {
                            .routes__tabs-content-path {
                                display: block;
                                animation: fadeIn 5s forwards;
                                animation-delay: 1.5s;
                            }

                            .routes__tabs-attractions {
                                visibility: visible;
                                animation: fadeIn 3s forwards;
                                animation-delay: 1s;
                            }
                        }
                    }
                }
            }

            @include small-tablet {
                &[data-tabs-item] {
                    animation: fadeIn 1s;
                }

                &:nth-of-type(1),
                &:nth-of-type(4) {
                    .routes__tabs-body-wrapper {
                        overflow: hidden;
                    }
                }

                &:nth-of-type(1) {
                    .routes__tabs-map {
                        transform: scale(1) translate(-0.6rem, -19.5rem) rotate(-1deg);
                    }
                }

                &:nth-of-type(2) {
                    .routes__tabs-map {
                        transform: scale(1.65) translate(15rem, -6rem) rotate(5.5deg);
                    }
                }

                &:nth-of-type(3) {
                    .routes__tabs-map {
                        transform: scale(1.55) translate(22rem, -24rem) rotate(1deg);
                    }

                    .routes__tabs-body-wrapper {
                        height: 94rem;
                    }
                }

                &:nth-of-type(4) {
                    .routes__tabs-map {
                        transform: scale(1) translate(-0.6rem, -19.5rem) rotate(-1deg);
                    }
                }
            }

            &-wrapper {
                position: relative;

                @include small-tablet {
                    overflow-x: scroll;
                    overflow-y: hidden;
                    z-index: 5;
                    margin-right: -2.5rem;
                    padding-bottom: 10rem;

                    &::-webkit-scrollbar {
                        height: 0.6rem;
                        width: 100%;
                    }

                    &::-webkit-scrollbar-track {
                        background: $gray;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: $orange;
                    }
                }
            }

            &:nth-of-type(1) {
                .routes__tabs-content-path {
                    top: 21rem;
                    left: 59rem;
                    width: 39.1rem;
                    height: 39.7rem;

                    @include small-tablet {
                        top: 39rem;
                        left: 14rem;
                        width: 53.1rem;
                        height: 39.7rem;
                    }
                }
            }

            &:nth-of-type(2) {
                .routes__tabs-content-path {
                    top: 7rem;
                    left: 39rem;
                    width: 77.1rem;
                    height: 39.7rem;

                    @include small-tablet {
                        top: 22rem;
                        left: 1rem;
                        width: 116.1rem;
                        height: 39.7rem;
                    }
                }
            }

            &:nth-of-type(3) {
                .routes__tabs-content-path {
                    top: 12rem;
                    left: 35rem;
                    width: 61.1rem;
                    height: 39.7rem;

                    @include small-tablet {
                        top: 30rem;
                        left: 0rem;
                        width: 92.1rem;
                        height: 39.7rem;
                    }
                }
            }

            &:nth-of-type(4) {
                .routes__tabs-content-path {
                    top: 12rem;
                    left: 72rem;
                    width: 38.1rem;
                    height: 39.7rem;

                    @include small-tablet {
                        top: 31rem;
                        left: 23rem;
                        width: 48.1rem;
                        height: 39.7rem;
                    }
                }
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
