.header {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    will-change: contents;

    @media (max-width: 48em) {
        ._menu-opened & {
            &::before {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &::before {
            content: '';
            position: absolute;
            z-index: 201;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(25, 28, 32, 1);
            opacity: 0;
            transform: translateX(-110%);
            transition: opacity 0.3s ease;
        }
    }

    @media (min-width: 48em) {
        .home-page & {
            transform: translateY(-110%);
            &._is-visible {
                transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
                transform: translateY(0);
            }
        }
    }

    // .header__container

    &__container {
        padding: 3.2rem 0;
        padding-top: 2.5rem;
        display: grid;
        grid-template-columns: 5fr 2fr 5fr;
        align-items: center;

        .icon {
            @media (min-width: 48em) {
                display: none;
            }
        }

        @media (max-width: 48em) {
            position: relative;
            z-index: 201;
            padding: 1.2rem 2rem;
            grid-template-columns: 10.4rem 1fr 10.4rem;

            .icon {
                width: 10.4rem;
                height: 10.4rem;
            }
        }
    }

    // .header__nav

    &__nav {
        display: flex;
        column-gap: 3.2rem;

        @media (max-width: 48em) {
            display: none;
        }
    }
    // .header__logo

    &__logo {
        justify-self: center;
        width: 8.5rem;
        transform: translate(0.9rem, -0.3rem);

        @media (max-width: 48em) {
            width: 12.4rem;
            transform: none;
        }
    }

    // .header__group

    &__group {
        display: flex;
        align-items: center;
        justify-self: end;
        column-gap: 3.2rem;

        .header__link {
            @media (max-width: 48em) {
                display: none;
            }
        }
    }

    // .header__link

    .header__nav .header__link,
    &__tel {
        position: relative;
        transition: color 0.3s ease;

        &::after {
            content: '';
            position: absolute;
            top: calc(100% + 0.4rem);
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: $white;
            transform: scaleX(0);
            transform-origin: center;
            transition:
                transform 0.3s ease,
                background-color 0.3s ease;
        }

        &:active {
            color: $orange;
            &::after {
                background-color: $orange;
            }
        }

        @media (any-hover: hover) {
            &:not(&._is-active) {
                &:hover {
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    &__link {
        font-weight: 500;

        &_lang {
            text-transform: uppercase;
        }

        &._is-active {
            color: $orange;
        }
    }

    // .header__tel

    &__tel {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 110%;

        @media (max-width: 48em) {
            .icon svg {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    // .header__hamburger

    &__hamburger {
        svg {
            width: 4.8rem;
            height: 2.4rem;
        }

        @media (max-width: 48em) {
            span:last-child {
                display: none;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
            ._menu-opened & {
                span {
                    display: none;
                }
                span:last-child {
                    display: inline-flex;
                }
            }
        }
    }

    // .header__select-lang

    &__select-lang {
        @media (max-width: 48em) {
            display: none;
        }
    }
}

// --------------------------------------------------------------------------

.select-lang {
    // .select__body

    .select__body {
        position: relative;
    }

    // .select__content

    .select__content {
        display: block;
        font-weight: 500;
        text-transform: uppercase;
    }

    // .select__options

    .select__options {
        padding: 0.6rem 0;
        position: absolute;
        top: calc(100% + 2rem);
        left: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        transform: translateX(-50%);
    }

    // .select__option

    .select__option {
        padding: 0.6rem 1.6rem;
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        transition: color 0.3s ease;

        &._is-selected {
            color: $orange;
        }
    }
}

// --------------------------------------------------------------------------

.menu-header {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 26.6rem 2rem;
    padding-bottom: 12rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(25, 28, 32, 1);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-110%);
    transition:
        transform 0.3s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.3s cubic-bezier(0.22, 1, 0.36, 1),
        visibility 0.3s cubic-bezier(0.22, 1, 0.36, 1);

    ._menu-opened & {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    @media (min-width: 48em) {
        display: none;
    }

    &__nav {
        margin-bottom: 12rem;
        display: flex;
        flex-direction: column;
        row-gap: 6.4rem;
    }

    &__nav-link {
        transition: color 0.3s ease;
        &:active {
            color: $orange;
        }
    }

    &__contacts {
        margin-bottom: 12rem;
        display: flex;
        column-gap: 2.4rem;
    }

    &__icon-wrap {
    }

    &__btn {
        width: 100%;
    }
}
