body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(25, 28, 32, 0.6);
    backdrop-filter: blur(0.6rem);
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.modal-show body::after {
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
    pointer-events: none;
    transition: visibility 0.8s ease 0s;
    display: none;
    &.modal_show {
        z-index: 150;
        visibility: visible;
        overflow: auto;
        pointer-events: auto;

        @include small-tablet {
            overflow: initial;
        }
        .modal__content {
            visibility: visible;
            transform: scale(1);

            @include small-tablet {
                overflow: auto;
                overflow-x: hidden;
            }
        }
        @media (max-width: 48em) {
            &.modal_fs {
                .modal__content {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
    &._mobile-only {
        @media (min-width: 48em) {
            display: none;
        }
    }
    ._is-loaded & {
        display: block;
    }

    // .modal__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        width: 100%;
        min-height: 100%;
        height: 100%;
    }

    // .modal__content

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        visibility: hidden;
        transform: scale(0);
        transition: transform 0.3s ease 0s;
        .lock & {
            visibility: visible;
        }

        @media (max-width: 48em) {
            height: 100%;
            padding: 0;
        }
    }

    // .modal__close

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        z-index: 10;
        @media (max-width: 48em) {
            position: static;
            margin-bottom: 4rem;
            align-self: flex-end;
            transform: none;

            &.icon {
                flex: 0 0 10.4rem;
                width: 10.4rem;
                height: 10.4rem;

                svg {
                    flex: 0 0 2.8rem;
                    width: 2.8rem;
                    height: 2.8rem;
                }
            }
        }
    }

    &__body {
        position: relative;
        display: flex;
        flex-direction: column;

        @include small-tablet {
            height: 100%;
            overflow: auto;
            padding: 3.2rem;
        }
    }
}

// --------------------------------------------------------------------------

.attractions-modal {
    @media (max-width: 48em) {
        .modal__inner,
        .modal__body {
            width: 100%;
        }
        .modal__content {
            align-items: stretch;
            width: 100vw;
            background: $bgColor;

            .swiper-slide {
                min-height: 75rem;
                height: unset;
            }

            .routes__tabs-attractions-swiper figure {
                height: 54rem;
                margin-top: auto;
            }

            .routes__tabs-attractions-title {
                margin-bottom: 4rem;
                font-weight: 500;
                font-size: 3.6rem;
                line-height: 140%;
            }

            .attractions-modal__inner {
                margin-bottom: 10.4rem;
            }

            .routes__tabs-attractions-text {
                display: none;
            }

            .routes__tabs-attractions-navigation {
                display: none;
            }

            .sl-pagination {
                justify-content: center;
            }

            .routes__tabs-attractions {
                display: block;
                position: static;
            }

            .swiper-slide {
                display: flex;
                flex-direction: column;

                .routes__tabs-attractions-swiper-text {
                    display: block;
                    font-size: 15px;
                    line-height: 140%;
                    color: $gray;
                    order: -1;
                    margin-bottom: 4.8rem;
                }

                .routes__tabs-attractions-swiper figure {
                    height: 54rem;
                }
            }
        }

        .modal__close {
            transform: none;
        }
    }
}

.promotion-modal {
    .banner {
        @include small-tablet {
            padding: 0;
        }
    }

    .banner__subtitle {
        color: $gray;

        @include small-tablet {
            font-size: 3.2rem;
            line-height: 110%;
            text-transform: uppercase;
            margin-bottom: 4.8rem;
        }
    }

    .banner__heading {
        @include small-tablet {
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 130%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-bottom: 6.4rem;
        }
    }

    .banner__text {
        @include small-tablet {
            font-size: 3rem;
            line-height: 140%;
            margin-bottom: 6.4rem;
        }
    }
}

.characteristics-modal {
    .modal {
        &__body {
            width: 100%;
            max-width: 80.7rem;

            @include small-tablet {
                max-width: 100%;
                background: $bgColor;
            }
        }
    }

    .characteristics {
        &__wrapper {
            padding: 6rem;
            position: relative;
            background: #24272a url('./assets/images/components/modal/characteristics-background.png')
                no-repeat center;
            background-size: cover;

            @include small-tablet {
                padding: 0;
                background: transparent;
                padding-bottom: 3.2rem;
            }
        }

        &__title {
            margin-bottom: 4rem;
            text-align: center;

            @include small-tablet {
                margin-bottom: 6.4rem;
                text-align: start;
            }
        }

        &__button {
            margin: 6.2rem auto 0;
            padding: 2rem 7.2rem;
            display: block;

            @include small-tablet {
                width: 100%;
                padding: 3.2rem;
                margin-top: 6.4rem;
                text-align: center;
            }
        }
    }

    .detailed__gallery-characteristics-block:not(:last-child) {
        margin-bottom: 4rem;

        @include small-tablet {
            margin-bottom: 6.4rem;
        }
    }
}

.gallery-modal {
    .modal {
        &__wrapper {
            padding: 4rem 0;

            @include small-tablet {
                padding: 0;
            }
        }

        &__content {
            height: 100%;
        }

        &__body {
            max-width: 164rem;
            height: 100%;
            width: 100%;

            @include small-tablet {
                max-width: 100%;
                @include small-tablet {
                    @include hideScrollbar;
                }
            }
        }

        &__close {
            top: 4rem;

            @include small-tablet {
                margin-bottom: 6.4rem;
            }
        }
    }

    .gallery {
        &__wrapper {
            height: 100%;
            position: relative;

            .swiper {
                height: 100%;
            }
        }

        &__image {
            @include sizes(61.2rem, 100%);
            margin: 0 auto;

            @include small-tablet {
                @include sizes(100%, 100%);
                margin: initial;
            }

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        &__navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            @include small-tablet {
                position: initial;
                margin-top: 6.4rem;
                justify-content: center;
                gap: 3.2rem;
                transform: none;
            }

            &-button {
                transition: 0.3s opacity ease;

                @include small-tablet {
                    width: 10.4rem;
                    height: 10.4rem;
                    flex: 0 0 10.4rem;

                    svg {
                        width: 3.2re;
                        height: 3.2rem;
                        flex: 0 0 3.2rem;
                    }
                }
            }

            .swiper-button-disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}

.reservation-modal {
    .modal {
        &__body {
            width: 100%;
            max-width: 80.7rem;

            @include small-tablet {
                background: $bgColor;
                max-width: 100%;
            }
        }

        &__content {
            @include small-tablet {
                background: $bgColor;
            }
        }
    }

    .reservation {
        &__title {
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 130%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 6rem;

            @include small-tablet {
                margin-bottom: 6.4rem;
                text-align: start;
                font-weight: 500;
                font-size: 3.6rem;
                line-height: 130%;
                letter-spacing: 0.02em;
            }
        }

        &__wrapper {
            background: #24272a url('./assets/images/components/modal/characteristics-background.png')
                no-repeat center;
            background-size: cover;
            padding: 6rem;

            @include small-tablet {
                background: none;
                padding: 0;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            @include small-tablet {
                gap: 6.4rem;
            }

            .input {
                position: relative;

                input,
                input::placeholder {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 133%;
                    letter-spacing: 0.08em;
                    text-transform: uppercase;
                    color: $gray;

                    @include small-tablet {
                        font-size: 3rem;
                        line-height: 160%;
                    }
                }

                input {
                    color: $white;
                }

                input,
                .input__hint {
                    transition: none;
                }

                &.datepicker {
                    &::after {
                        @include pseudo {
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            background: url('/assets/images/icons/calendar.svg') no-repeat center;
                            background-size: cover;
                            width: 2rem;
                            height: 2rem;

                            @include small-tablet {
                                width: 3.2rem;
                                height: 3.2rem;
                            }
                        }
                    }
                }
            }

            &-agree {
                margin-top: 6rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include small-tablet {
                    flex-direction: column;
                    gap: 6.4rem;
                    margin-top: 4rem;
                }

                &-text {
                    font-size: 1.4rem;
                    line-height: 140%;
                    color: $gray;
                    max-width: 24.6rem;
                    width: 100%;
                    display: block;

                    @include small-tablet {
                        max-width: 100%;
                        font-size: 2.8rem;
                    }
                }

                &-button {
                    padding: 2rem 7.2rem;

                    @include small-tablet {
                        width: 100%;
                        text-align: center;
                        padding: 3.2rem;
                    }
                }
            }
        }
    }
}

.success-modal {
    .modal {
        &__body {
            max-width: 53.4rem;
            width: 100%;

            @include small-tablet {
                max-width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .success {
        &__wrapper {
            background: #24272a url('./assets/images/components/modal/characteristics-background.png')
                no-repeat center;
            background-size: cover;
            padding: 6rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            @include small-tablet {
                padding: 4.8rem;
            }
        }

        &__icon {
            margin-bottom: 6rem;
            width: 10.7rem;
            height: 10.7rem;
            flex: 0 0 10.7rem;

            @include small-tablet {
                margin-bottom: 8rem;
                width: 12.8rem;
                height: 12.8rem;
                flex: 0 0 12.8rem;
            }

            svg {
                width: 4.2rem;
                height: 4.2rem;
                flex: 0 0 4.2rem;

                @include small-tablet {
                    width: 5.6rem;
                    height: 5.6rem;
                    flex: 0 0 5.6rem;
                }
            }
        }

        &__title {
            margin-bottom: 3.2rem;
            font-weight: 500;
            font-size: 3.6rem;
            line-height: 130%;
            letter-spacing: 0.02em;
            text-transform: uppercase;

            @include small-tablet {
                margin-bottom: 6.4rem;
                font-size: 3.6rem;
            }
        }

        &__description {
            font-size: 1.8rem;
            line-height: 140%;
            margin-bottom: 4rem;

            @include small-tablet {
                font-size: 3rem;
                margin-bottom: 6.4rem;
            }
        }

        &__button {
            padding: 2rem 3.7rem;

            @include small-tablet {
                width: 100%;
                padding: 3.2rem;
            }
        }
    }
}
