<section class="banner">
    <a href="#" class="banner__inner">
        <div class="banner__container container">
            <div class="banner__content">
                <span class="banner__subtitle">20 октября 2023 - 15 апреля 2024</span>
                <span class="banner__heading h">СЕЗОННАЯ АКЦИЯ "23+7"</span>
                <p class="banner__text">
                    Арендуйте TOYOTA RAV4 на 30 суток и получите Скидку в 37.100р! (7 суток Аренды бесплатно!)
                </p>
                <button type="button" class="banner__btn btn">
                    <span class="btn__txt">Подробнее</span>
                </button>
            </div>
            <div class="banner__image-wrap">
                <img src="./assets/images/cars/0DGG67-DA.webp" alt="" class="banner__image" />
            </div>
        </div>
    </a>
</section>
