<section class="detailed-menu _mobile-only">
    <div class="container">
        <div class="detailed-menu__content">
            <div class="detailed-menu__info">
                <p class="detailed-menu__info-total">6000 <span>₽/сутки</span></p>

                <p class="detailed-menu__info-pledge">Залог: <span>20 000 ₽</span></p>
            </div>

            <button class="btn detailed-menu__button">
                <span class="btn__txt"> забронировать </span>
            </button>
        </div>
    </div>
</section>
