<section class="detailed">
    <div class="container">
        <span class="detailed__articul"> Артикул 123456789 </span>

        <h1 class="detailed__title h h_2">Тoyota rav4 2022</h1>

        <div class="detailed__content">
            <div class="detailed__gallery">
                <div class="swiper detailed-gallery-swiper">
                    <ul data-modal="#galleryModal" class="swiper-wrapper">
                        <li class="swiper-slide">
                            <figure class="detailed__gallery-image">
                                <img
                                    src="../assets/images/sections/detailed/gallery-thumbnail-image-2.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__gallery-image">
                                <img src="./assets/images/sections/detailed/gallery-image-1.png" alt="" />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__gallery-image">
                                <img src="./assets/images/sections/detailed/gallery-image-1.png" alt="" />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__gallery-image">
                                <img
                                    src="../assets/images/sections/detailed/gallery-thumbnail-image-2.png"
                                    alt=""
                                />
                            </figure>
                        </li>
                        <li class="swiper-slide">
                            <figure class="detailed__gallery-image">
                                <img src="./assets/images/sections/detailed/gallery-image-1.png" alt="" />
                            </figure>
                        </li>
                    </ul>
                </div>

                <div class="detailed__gallery-pagination sl-pagination sl-pagination_mm _mobile-only"></div>

                <div class="detailed__gallery-thumbnail _desktop-only">
                    <button class="detailed__gallery-navigation-button icon icon_white prev">
                        <svg
                            width="22"
                            height="22"
                            viewBox="0 0 22 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M21 11L1.83333 11M1.83333 11L11.8333 21M1.83333 11L11.8333 1"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>

                        <svg
                            width="22"
                            height="22"
                            viewBox="0 0 22 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M21 11L1.83333 11M1.83333 11L11.8333 21M1.83333 11L11.8333 1"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>
                    </button>

                    <div class="swiper detailed-gallery-thumbnails">
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide">
                                <figure class="detailed__gallery-thumbnail-image">
                                    <img
                                        src="../assets/images/sections/detailed/gallery-thumbnail-image-1.png"
                                        alt=""
                                    />
                                </figure>
                            </li>
                            <li class="swiper-slide">
                                <figure class="detailed__gallery-thumbnail-image">
                                    <img
                                        src="../assets/images/sections/detailed/gallery-thumbnail-image-2.png"
                                        alt=""
                                    />
                                </figure>
                            </li>
                            <li class="swiper-slide">
                                <figure class="detailed__gallery-thumbnail-image">
                                    <img
                                        src="../assets/images/sections/detailed/gallery-thumbnail-image-3.png"
                                        alt=""
                                    />
                                </figure>
                            </li>
                            <li class="swiper-slide">
                                <figure class="detailed__gallery-thumbnail-image">
                                    <img
                                        src="../assets/images/sections/detailed/gallery-thumbnail-image-3.png"
                                        alt=""
                                    />
                                </figure>
                            </li>
                            <li class="swiper-slide">
                                <figure class="detailed__gallery-thumbnail-image">
                                    <img
                                        src="../assets/images/sections/detailed/gallery-thumbnail-image-3.png"
                                        alt=""
                                    />
                                </figure>
                            </li>
                        </ul>
                    </div>

                    <button class="detailed__gallery-navigation-button icon icon_white next">
                        <svg
                            width="22"
                            height="22"
                            viewBox="0 0 22 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 11L20.1667 11M20.1667 11L10.1667 1M20.1667 11L10.1667 21"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>

                        <svg
                            width="22"
                            height="22"
                            viewBox="0 0 22 22"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M1 11L20.1667 11M20.1667 11L10.1667 1M20.1667 11L10.1667 21"
                                stroke="white"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></path>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="detailed__gallery-characteristics">
                <span class="detailed__gallery-characteristics-title"> модели автомобиля </span>

                <div class="detailed__gallery-characteristics-dropdown">
                    <div class="detailed__gallery-characteristics-dropdown-heading">
                        <span style="--color: #fff" class="detailed__gallery-characteristics-dropdown-item"
                            >Toyota RAV4 2022 год
                        </span>

                        <figure class="detailed__gallery-characteristics-dropdown-icon">
                            <img src="../assets/images/icons/arrow-down-white.svg" alt="" />
                        </figure>
                    </div>

                    <div class="detailed__gallery-characteristics-dropdown-wrapper" hidden>
                        <ul class="detailed__gallery-characteristics-dropdown-body">
                            <li>
                                <a
                                    href=""
                                    style="--color: #fff"
                                    class="detailed__gallery-characteristics-dropdown-item --selected"
                                >
                                    TLC PRADO 2022 год, правый руль, 4.0
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    style="--color: #000"
                                    class="detailed__gallery-characteristics-dropdown-item"
                                >
                                    TLC PRADO 2022 год, правый руль, 4.0
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    style="--color: #fff"
                                    class="detailed__gallery-characteristics-dropdown-item"
                                >
                                    TLC PRADO 2022 год, правый руль, 4.0
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    style="--color: #000"
                                    class="detailed__gallery-characteristics-dropdown-item"
                                >
                                    TLC PRADO 2022 год, правый руль, 4.0
                                </a>
                            </li>
                            <li>
                                <a
                                    href="#"
                                    style="--color: #fff"
                                    class="detailed__gallery-characteristics-dropdown-item"
                                >
                                    TLC PRADO 2022 год, правый руль, 4.0
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <span class="detailed__gallery-characteristics-title"> Характеристики </span>

                <div class="detailed__gallery-characteristics-block">
                    <ul class="detailed__gallery-characteristics-list">
                        <li class="detailed__gallery-characteristics-item">
                            <p>Год: <span>2022</span></p>
                        </li>
                        <li class="detailed__gallery-characteristics-item">
                            <p>КПП: <span>АКПП</span></p>
                        </li>
                        <li class="detailed__gallery-characteristics-item">
                            <p>Объем двигателя: <span>2.0 л</span></p>
                        </li>
                        <li class="detailed__gallery-characteristics-item">
                            <p>Мощность: <span>149 л.с.</span></p>
                        </li>
                    </ul>

                    <ul class="detailed__gallery-characteristics-list">
                        <li class="detailed__gallery-characteristics-item">
                            <p>Год: <span>2022</span></p>
                        </li>
                        <li class="detailed__gallery-characteristics-item">
                            <p>КПП: <span>АКПП</span></p>
                        </li>
                        <li class="detailed__gallery-characteristics-item">
                            <p>Объем двигателя: <span>2.0 л</span></p>
                        </li>
                        <li class="detailed__gallery-characteristics-item">
                            <p>Мощность: <span>149 л.с.</span></p>
                        </li>
                    </ul>
                </div>

                <span class="detailed__gallery-characteristics-title"> Комплектация </span>

                <p class="detailed__gallery-characteristics-description">
                    <span>Comfort</span> (кожаный руль, подогрев передних сидений, подогрев руля,
                    парктроники/Камера З/Х, светодидные фары, бесключевой доступ, система помощи при старте на
                    подъеме, круиз-контроль)
                </p>

                <span class="detailed__gallery-characteristics-title"> Дополнительная информация </span>

                <p class="detailed__gallery-characteristics-description">
                    Данный тип автомобиля подходит для маршрутов на асфальтированных и грунтовых дорогах
                </p>
            </div>

            <aside class="detailed__rent">
                <span class="detailed__rent-title"> Количество дней аренды: </span>

                <ul class="detailed__rent-list">
                    <li class="detailed__rent-item --active">1 - 4 дня</li>
                    <li class="detailed__rent-item">5 - 9 дней</li>
                    <li class="detailed__rent-item">10+ дней</li>
                    <li class="detailed__rent-item">30+ дней</li>
                </ul>

                <div class="detailed__rent-info">
                    <span class="detailed__rent-info-counter"> 1 - 4 дня </span>

                    <p class="detailed__rent-info-total">6000 <span>₽/сутки</span></p>

                    <p class="detailed__rent-info-pledge">Залог за автомобиль: <span>20 000 ₽</span></p>

                    <button class="detailed__rent-button btn">
                        <span class="btn__txt">забронировать</span>
                    </button>
                </div>

                <div class="detailed__rent-promotion">
                    <span class="detailed__rent-promotion-title"> СЕЗОННАЯ АКЦИЯ "23+7" </span>

                    <a href="#" class="detailed__rent-promotion-link">
                        <span>Показать еще</span>

                        <img src="../assets/images/icons/arr-orange.svg" alt="" />
                    </a>
                </div>
            </aside>
        </div>
    </div>
</section>
