<section class="news">
    <div class="container">
        <div class="news__content">
            <h1 class="news__title h h_1">Акции и новости</h1>

            <nav class="news__navigation">
                <ul class="news__navigation-list">
                    <li class="news__navigation-item --active">
                        <button>все</button>
                    </li>
                    <li class="news__navigation-item">
                        <button>акции</button>
                    </li>
                    <li class="news__navigation-item">
                        <button>новости компании</button>
                    </li>
                </ul>
            </nav>

            <nav class="news__filters">
                <ul class="news__filters-list">
                    <li class="news__filters-item --active">
                        <button>Популярные</button>
                    </li>
                    <li class="news__filters-item">
                        <button>Сначала новые</button>
                    </li>
                    <li class="news__filters-item">
                        <button>Сначала ранее опубликованные</button>
                    </li>
                </ul>
            </nav>

            <ul class="news__articles">
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-1.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA RAV4 2020
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-2.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA LAND CRUISER PRADO 2017г
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-3.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA RAV4 2020
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-1.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA RAV4 2020
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-2.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA LAND CRUISER PRADO 2017г
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-3.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA RAV4 2020
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-1.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA RAV4 2020
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-2.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA LAND CRUISER PRADO 2017г
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="news-card">
                    <a href="">
                        <figure class="news-card__image">
                            <img src="./assets/images/sections/news/article-image-3.png" alt="" />
                        </figure>

                        <div class="news-card__content">
                            <span class="news-card__category">акция</span>

                            <strong class="news-card__title"> СЕЗОННАЯ АКЦИЯ "23+7" </strong>

                            <p class="news-card__description">
                                Срок проведения - с 20 октября 2023 по 15 апреля 2024
                            </p>
                            <p class="news-card__description">
                                Автомобиль участвующий в акции - TOYOTA RAV4 2020
                            </p>

                            <button class="news-card__link btn">
                                <span class="btn__txt"> Подробнее </span>
                            </button>
                        </div>
                    </a>
                </li>
            </ul>

            <button class="news__articles-button">
                <span> Показать еще </span>

                <img src="./assets/images/icons/arrow-down.svg" alt="" />
            </button>
        </div>
    </div>
</section>
