<section class="routes">
    <div class="container">
        <div class="routes__content">
            <h2 class="routes__title h h_2">Маршруты и ограничения по проезду</h2>

            <div class="routes__tabs">
                <div class="routes__tabs-wrapper">
                    <input checked id="tab-1" name="tab" type="radio" />
                    <div class="routes__tabs-button">
                        <label for="tab-1">юг</label>
                        <div class="routes__tabs-content">
                            <figure class="routes__tabs-content-path">
                                <img src="./assets/images/sections/routes/path-1.svg" alt="" />
                            </figure>
                        </div>
                    </div>
                    <input id="tab-2" name="tab" type="radio" />
                    <div class="routes__tabs-button">
                        <label for="tab-2">север</label>
                        <div class="routes__tabs-content">
                            <figure class="routes__tabs-content-path">
                                <img src="./assets/images/sections/routes/path-2.svg" alt="" />
                            </figure>
                        </div>
                    </div>
                    <input id="tab-3" name="tab" type="radio" />
                    <div class="routes__tabs-button">
                        <label for="tab-3">запад</label>
                        <div class="routes__tabs-content">
                            <figure class="routes__tabs-content-path">
                                <img src="./assets/images/sections/routes/path-3.svg" alt="" />
                            </figure>
                        </div>
                    </div>
                    <input id="tab-4" name="tab" type="radio" />
                    <div class="routes__tabs-button">
                        <label for="tab-4">восток</label>
                        <div class="routes__tabs-content">
                            <figure class="routes__tabs-content-path">
                                <img src="./assets/images/sections/routes/path-4.svg" alt="" />
                            </figure>
                        </div>
                    </div>

                    <div class="routes__tabs-line"></div>

                    <figure class="routes__tabs-map">
                        <img src="./assets/images/sections/routes/routes-map.svg" alt="" />
                    </figure>
                </div>

                <ul class="routes__tabs-info-list">
                    <li class="routes__tabs-info-item">
                        <span style="--color: #ff6c01" class="routes__tabs-info-item-designation"> </span>

                        <div class="routes__tabs-info-item-text">
                            <strong class="routes__tabs-info-item-title">
                                Асфальтированные дороги
                            </strong>

                            <p class="routes__tabs-info-item-description">легковые и кроссоверы</p>
                        </div>
                    </li>
                    <li class="routes__tabs-info-item">
                        <span style="--color: #fff" class="routes__tabs-info-item-designation"> </span>

                        <div class="routes__tabs-info-item-text">
                            <strong class="routes__tabs-info-item-title"> Грунтовые дороги </strong>

                            <p class="routes__tabs-info-item-description">кроссоверы и внедорожники</p>
                        </div>
                    </li>
                    <li class="routes__tabs-info-item">
                        <span style="--color: #838383" class="routes__tabs-info-item-designation"> </span>

                        <div class="routes__tabs-info-item-text">
                            <strong class="routes__tabs-info-item-title"> Бездорожье </strong>

                            <p class="routes__tabs-info-item-description">внедорожник SUZUKI JIMNY</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
