<section class="similar">
    <div class="container">
        <div class="similar__content">
            <h2 class="similar__title h h_2">Похожие автомобили</h2>

            <div class="swiper similar-swiper">
                <ul class="swiper-wrapper similar__cars">
                    <li class="swiper-slide">
                        <a href="#" class="car-park__item-card item-card">
                            <div class="item-card__image-wrap">
                                <img
                                    src="./assets/images/sections/car-park/TLCPRADO19.webp"
                                    alt=""
                                    class="item-card__image"
                                />
                            </div>
                            <div class="item-card__content">
                                <span class="item-card__heading subtitle">TLC PRADO 19</span>
                                <span class="item-card__text">от 27 400₽ \ сутки</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="car-park__item-card item-card">
                            <div class="item-card__image-wrap">
                                <img
                                    src="./assets/images/sections/car-park/LexusRX350.webp"
                                    alt=""
                                    class="item-card__image"
                                />
                            </div>
                            <div class="item-card__content">
                                <span class="item-card__heading subtitle">Lexus RX 350</span>
                                <span class="item-card__text">от 27 400₽ \ сутки</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="car-park__item-card item-card">
                            <div class="item-card__image-wrap">
                                <img
                                    src="./assets/images/sections/car-park/SUZUKIJIMNY.webp"
                                    alt=""
                                    class="item-card__image"
                                />
                            </div>
                            <div class="item-card__content">
                                <span class="item-card__heading subtitle">SUZUKI JIMNY</span>
                                <span class="item-card__text">от 27 400₽ \ сутки</span>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="#" class="car-park__item-card item-card">
                            <div class="item-card__image-wrap">
                                <img
                                    src="./assets/images/sections/car-park/LexusRX350.webp"
                                    alt=""
                                    class="item-card__image"
                                />
                            </div>
                            <div class="item-card__content">
                                <span class="item-card__heading subtitle">Lexus RX 350</span>
                                <span class="item-card__text">от 27 400₽ \ сутки</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="similar__pagination sl-pagination sl-pagination_mm _mobile-only"></div>
        </div>
    </div>
</section>
