<!-- достопримечательности -->
<div id="attractionsModal" aria-hidden="true" class="modal attractions-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="attractions-modal__inner"></div>
                <div class="attractions-modal__pagination sl-pagination sl-pagination_mm"></div>
            </div>
        </div>
    </div>
</div>

<!-- сезонная акция -->
<div id="promotionModal" aria-hidden="true" class="modal promotion-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="promotion-modal__inner">
                    <div class="banner">
                        <a href="#" class="banner__inner">
                            <div class="banner__container container">
                                <div class="banner__content">
                                    <span class="banner__subtitle">20 октября 2023 - 15 апреля 2024</span>
                                    <span class="banner__heading h">СЕЗОННАЯ АКЦИЯ "23+7"</span>
                                    <p class="banner__text">
                                        Арендуйте TOYOTA RAV4 на 30 суток и получите Скидку в 37.100р! (7
                                        суток Аренды бесплатно!)
                                    </p>
                                    <button type="button" class="banner__btn btn">
                                        <span class="btn__txt">Подробнее</span>
                                    </button>
                                </div>
                                <div class="banner__image-wrap">
                                    <img
                                        src="./assets/images/cars/0DGG67-DA.webp"
                                        alt=""
                                        class="banner__image"
                                    />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
