<!-- достопримечательности -->
<div id="attractionsModal" aria-hidden="true" class="modal attractions-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="attractions-modal__inner"></div>
                <div class="attractions-modal__pagination sl-pagination sl-pagination_mm"></div>
            </div>
        </div>
    </div>
</div>

<!-- сезонная акция -->
<div id="promotionModal" aria-hidden="true" class="modal promotion-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="promotion-modal__inner">
                    <div class="banner">
                        <a href="#" class="banner__inner">
                            <div class="banner__container container">
                                <div class="banner__content">
                                    <span class="banner__subtitle">20 октября 2023 - 15 апреля 2024</span>
                                    <span class="banner__heading h">СЕЗОННАЯ АКЦИЯ "23+7"</span>
                                    <p class="banner__text">
                                        Арендуйте TOYOTA RAV4 на 30 суток и получите Скидку в 37.100р! (7
                                        суток Аренды бесплатно!)
                                    </p>
                                    <button type="button" class="banner__btn btn">
                                        <span class="btn__txt">Подробнее</span>
                                    </button>
                                </div>
                                <div class="banner__image-wrap">
                                    <img
                                        src="./assets/images/cars/0DGG67-DA.webp"
                                        alt=""
                                        class="banner__image"
                                    />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- характеристики -->
<div id="characteristicsModal" aria-hidden="true" class="modal characteristics-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close="" type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </button>

                <div class="characteristics__wrapper">
                    <h2 class="characteristics__title h h_3">характеристики</h2>

                    <div class="detailed__gallery-characteristics-block">
                        <ul class="detailed__gallery-characteristics-list">
                            <li class="detailed__gallery-characteristics-item">
                                <p>Год: <span>2022</span></p>
                            </li>
                            <li class="detailed__gallery-characteristics-item">
                                <p>КПП: <span>АКПП</span></p>
                            </li>
                            <li class="detailed__gallery-characteristics-item">
                                <p>Объем двигателя: <span>4.0 л</span></p>
                            </li>
                        </ul>

                        <ul class="detailed__gallery-characteristics-list">
                            <li class="detailed__gallery-characteristics-item">
                                <p>Мощность: <span>149 л.с.</span></p>
                            </li>
                            <li class="detailed__gallery-characteristics-item">
                                <p>Руль: <span>Левый</span></p>
                            </li>
                            <li class="detailed__gallery-characteristics-item">
                                <p>Привод: <span>4WD</span></p>
                            </li>
                        </ul>
                    </div>

                    <span class="detailed__gallery-characteristics-title"> Комплектация </span>

                    <p class="detailed__gallery-characteristics-description">
                        <span>4.0 АТ Prestige</span> (Кожаный салон 5 мест, система контроля "Мёртвых зон",
                        вентиляция/подогрев сидений, подогрев руля, система помощи трогании в гору, система
                        помощи при спуске, камера заднего, переднего, бокового обзора, парктроники, hands free
                        / Bluetooth, климат-контроль)
                    </p>

                    <span class="detailed__gallery-characteristics-title"> Дополнительная информация </span>

                    <p class="detailed__gallery-characteristics-description">
                        Данный тип автомобиля подходит для маршрутов на асфальтированных и грунтовых дорогах
                    </p>

                    <button class="characteristics__button btn">
                        <span class="btn__txt"> Забронировать </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- слайдер картинок отдельного авто -->
<div id="galleryModal" aria-hidden="true" class="modal gallery-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close="" type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        ></path>
                    </svg>
                </button>

                <div class="gallery__wrapper">
                    <div class="swiper gallery-modal-swiper">
                        <ul class="swiper-wrapper"></ul>
                    </div>

                    <div class="gallery__navigation">
                        <button class="gallery__navigation-button icon icon_white prev">
                            <svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M21 11L1.83333 11M1.83333 11L11.8333 21M1.83333 11L11.8333 1"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>

                            <svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M21 11L1.83333 11M1.83333 11L11.8333 21M1.83333 11L11.8333 1"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>
                        </button>

                        <button class="gallery__navigation-button icon icon_white next">
                            <svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 11L20.1667 11M20.1667 11L10.1667 1M20.1667 11L10.1667 21"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>

                            <svg
                                width="22"
                                height="22"
                                viewBox="0 0 22 22"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M1 11L20.1667 11M20.1667 11L10.1667 1M20.1667 11L10.1667 21"
                                    stroke="white"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
