<!-- достопримечательности -->
<div id="attractionsModal" aria-hidden="true" class="modal attractions-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close icon icon_white">
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M14.5 1.5L1.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                        <path
                            d="M1.5 1.5L14.5 14.5"
                            stroke="white"
                            stroke-width="1.44444"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </button>
                <div class="attractions-modal__inner"></div>
                <div class="attractions-modal__pagination sl-pagination sl-pagination_mm"></div>
            </div>
        </div>
    </div>
</div>
