<div style="position: absolute; top: -110%; left: -110%; transform: translate(-100%, -100%)">
    <svg xmlns="http://www.w3.org/2000/svg" width="300%" height="300%">
        <linearGradient id="speedometerProgressGradient" x1="42%" y1="0%" x2="58%" y2="100%">
            <stop offset="0%" style="stop-color: rgb(255, 108, 1); stop-opacity: 1" />
            <stop offset="90%" style="stop-color: rgb(255, 108, 1); stop-opacity: 0" />
        </linearGradient>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg">
        <filter
            id="filter0_d_755_76515"
            x="0.300884"
            y="0.0952835"
            width="129.74"
            height="442.188"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
        >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
            />
            <feOffset dx="-17.8255" />
            <feGaussianBlur stdDeviation="17.8255" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0.273973 0 0 0 1 0" />
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_755_76515" />
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_755_76515" result="shape" />
        </filter>
    </svg>
</div>
