@font-face {
    font-family: 'Druk Wide Cyr';
    font-weight: 500;
    src: url('./assets/fonts/DrukWide_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy';
    font-weight: 700;
    src: url('./assets/fonts/Gilroy_bold.woff') format('woff');
}

@font-face {
    font-family: 'Druk Text Wide Cyr';
    font-weight: 500;
    src: url('./assets/fonts/DrukTextWideCyr_medium.woff2') format('woff2');
}
